html,body {
  padding: 0px;
  margin: 0px;
}

#container{
  position: relative;
  color: white;
}

#map {
  height: 400px;
  width: 100%;
  position: absolute;
}

#layout{
  position: relative;
}

.search-bar {
    padding: 28px;
    margin: 38px;
}

#search {
    font-size: 32px;
    vertical-align: middle;
    line-height: 40px;
    border: none;
    color: blue;
    background: transparent;
    border-bottom: blue 1px solid;
}
#search:focus {
  outline: none;
}

.fa-search {
  font-size: 24px;
  color: blue;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: arial;
    text-align: center;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
}
/* 00aa69 */

#title{
  background-color: #8fc196;
  height: 10%;
  top:0;
  margin: 0;
}

#welcome{
  bottom:0;
  margin:0;
  padding-top: 20px;
}

#intro{
  background-color: #8f94c1;
  height: 90%;
  top:0;
  margin: 0;
  padding:0
}

#intro-paragraph{
  font-size: 24px;
  margin:10px;
  padding-top: 30px;
}

#fp{
  width: 80%;
  height: 80%;
  padding: 3px;
  border: 5px solid #0918a0;
  border-radius: 50px;
  display: none;
}
